<!DOCTYPE html>
<html>
<head>
    <title>Hate-Wait error page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="center">
<img src="/images/404_error.png" alt="404 Error">
<h1><%= message %></h1>
<h3><%= error.message%></h3>
<h4><%= error.stack%></h4>
<p>We're sorry. If you want to go back main page <a href="https://hatewait-server.herokuapp.com">Go Home</a></p>


<pre><%= error.stack %></pre>
</body>
</html>