<!DOCTYPE html>
<html>
  <head>
    <title><%= HateWait %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Capstone Design team no.3</p>
    <p>임시 서버를 만들어 봤어요.</p>
  </body>
</html>
